<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Price Tracker</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <style>
        .my-custom-scrollbar {
        position: relative;
        height: 300px;
        overflow: auto;
        }
        .table-wrapper-scroll-y {
        display: block;
        }
    </style>
</head>
<body>
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-brand" href="{% url 'HomePage' %}">Price Tracker</a>
          </div>
          <ul class="nav navbar-nav">
            <li><a href="{% url 'HomePage' %}">Home</a></li>
            <li><a href="{% url 'showcust' %}">Customer Database</a></li>
            <li><a href="{% url 'showpro' %}">Product Database</a></li>
            <li class="active"><a href="{% url 'runQuery' %}">Recommended Products</a></li>
          </ul>
        </div>
    </nav>
    <center>
        <h2>Most Rated Products at Best Price</h2>
        <div class="table-wrapper-scroll-y my-custom-scrollbar container">
            <table border="1" class="table table-bordered table-striped mb-0 table-hover">
                <tr>
                    <th>pro_id</th>
                    <th>pro_name</th>
                    <th>plat_name</th>
                    <th>price</th>
                    <th>best_deal</th>
                    <th>ratings</th>
                </tr>
                {% for result in data %}
                <tr>
                    <td>{{result.0}}</td>
                    <td>{{result.1}}</td>
                    <td>{{result.2}}</td>
                    <td>{{result.3}}</td>
                    <td>{{result.4}}</td>
                    <td>{{result.5}}</td>
                </tr>
                {% endfor %}
            </table>
        </div>
        <a href="{% url 'showpro' %}" class="btn btn-info" role="button">back</a>
    </center>
</body>
</html>